.profile-page{
    margin: 2rem auto;
  }
  
  .form-container{
   margin: auto;
   box-shadow: 0 7px 29px 0 rgba(100,100,111,.2);
   width: 30rem;
   font-size: 18px;
   border-radius: 1rem;
   background-color: #f8f8f8;
   border-top: 2px solid #384c54;
  }

  .profile-nav{
    display: flex;
    justify-content:space-between
  }

  .profile-heading{
      text-decoration: none;
      color: #384c54;
  }

  .new-address{
    border-bottom: 1px solid black;
    width: fit-content;
}

.profile-active-heading{
  padding-bottom: 1rem;
}

.address-container{
 
}

.individual-address{
    text-align: left;
 margin: 1rem;
}

.edit-btn{
  background-color: #AAC9FF;
}

.delete-btn{
    color: red;
    border: 1px solid red;
}


.order-history-container{
  padding: 1rem;
  text-align: left;
}

.order-history-container div{
  list-style-type: none;
  padding: 2rem;
}

.order-history-container ul{
  list-style-type: none;
}