*{
    margin: 0;
}

.meta-info {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    padding: 10rem 1rem
}
.banner-img {
    height: 38rem;
    width: 100%;
}

.fit {
    object-fit: cover;
    object-position: center;
}

.main-content {
    position: relative;
}

.text-overlap {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 50rem;
    bottom: 2rem;
    text-align: left;
}

.explore-products{
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: black;
  background-color:white;
  cursor: pointer;
  margin: 10px;
  border-radius: 24px;
}

.homecatgeory-container{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 3rem;
    flex-wrap: wrap;
  }