.checkout-container{
    display: flex;
    justify-content: space-evenly;
}

.checkout-container div{
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 7px 29px 0 rgba(100,100,111,.2);
    background-color: #f8f8f8;
}

.each-address{
    margin: 2rem;
}

.checkout-details{
    width: 30rem;
}