.nav-container{
  display: flex;
  justify-content:space-between;
  font-size: 1rem;
  border: 1px solid black;
  padding: 2rem;
  text-decoration: none;
  font-size: larger;
  color: black;
}

.nav-link{
  padding: 0 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  }

  .header{
    margin: 0;
    padding: 7px;
    background-color: #384c54;
    color: white;
    font-size: 16px;
  }

